body{
    /*background: gray;*/
    /*background: url(https://images.unsplash.com/photo-1520741412100-24cd6c2832e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4348fc639aed74754c68db44972844f&auto=format&fit=crop&w=1500&q=80);*/
    background: url(pup.jpg);
    background-repeat: no-repeat;
}

div{
    background: rgba(200, 200, 200, 0.3) ;
    /*
    border: orange;
    border-width: thick;
    border-style: dotted;
    */
    border: orange 2px solid;
}

p{
    color: red;
}

span{
    background: orange;
    color: black;
}


